body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

* {
    box-sizing: border-box;
}

#toast-container-main {
    min-width: 500px;
    position: fixed;
    top: 5px;
    right: 10px;
    z-index: 1000;
}

.ReactModal__Overlay--after-open {
    background-color: rgb(45, 45, 45, 0.8) !important;
}
.react-datepicker-popper {
    z-index: 1000 !important;
}

li {
    list-style: none;
}

.ReactModal__Overlay {
    z-index: 600;
}
.ReactModal__Overlay--after-open {
    z-index: 600;
}
